[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pre-commit = "*"

[packages]
requests = "*"
lxml = ">=4.6.3"
brain-brew = "*"

[requires]
python_version = "3.9"
