{{#Macrolocation}}
  <div class="type">{{LocationType}}</div>
  <div class="value value--top">{{Location}}</div>

  <hr>

  <div class="type">{{Macrotype}}</div>
  <div class="value">?</div>
 <div class="value value--image">{{MacroPlaceholder}}</div> 
{{/Macrolocation}}

--

<div class="type">{{LocationType}}</div>
<div class="value value--top">{{Location}}</div>

<hr id=answer>

<div class="type">{{Macrotype}}</div>
<div class="value">{{Macrolocation}}</div>
<div class="value value--image">{{LocatorMap}}</div>