body {
  margin: 0;
}

.mobile svg {
  shape-rendering: optimizeSpeed;
  text-rendering: optimizeSpeed;
}

#center { 
  display: flex;
  align-items: center;
  justify-content: center;
}

#fitcontent {
  display: inline-block;
  position: relative;
}

[id="zoombox"]{
  position: absolute;
  top: 0;
  left: 0;
}

.card {
  padding: 1em 0;
  background-color: white;
  color: black;
  font-family: Verdana;
  font-size: 16px;
  text-align: center;
}

.type {
  margin-bottom: 0.25em;
  color: #333;
  font-size: 70%;
  font-weight: bold;
  text-transform: uppercase;
}

.info {
  max-width: 30em;
  margin: 0.75em auto;
  color: #333;
  font-size: 90%;
  font-style: italic;
}

.value {
  font-size: 150%;
}

.value--top {
  margin-top: 1em;
}

hr {
  margin: 1.5em 0;
}
