body {
  margin: 0;
}
.center {
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#fitcontent { 
  display: inline-block;
  position: relative;
}
[id="uk_counties"]{
  height: 100vh;
  max-height: 70vh;
  max-width: 90vw;
}
[id="zoombox"]{
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  max-width: 60%;
}
[id="zoomfocus"]{
  visibility: hidden;
}

#typeans {
  text-align: center;
}

.card {
  padding: 1em 0;
  background-color: white;
  font-family: Tahoma;
  font-size: 16px;
  text-align: center;
}

.type {
  margin-bottom: 0.25em;
  font-size: 70%;
  font-weight: bold;
  text-transform: uppercase;
}

.info {
  max-width: 30em;
  margin: 0.75em auto;
  font-size: 90%;
  font-style: italic;
}

.value {
  font-size: 150%;
}

.value--top {
  margin-top: 1em;
}

hr {
  margin: 1.5em 0;
}

@keyframes jump {
  0%   { transform: scale(2) translateY(0); }
  10%  { transform: scale(2) translateY(0); }
  30%  { transform: scale(2) translateY(-1px); }
  50%  { transform: scale(2) translateY(0); }
  57%  { transform: scale(2) translateY(-0.4px); }
  64%  { transform: scale(2) translateY(0); }
  100% { transform: scale(2) translateY(0); }
}

@media (prefers-color-scheme: dark) {
  [id="Republic of Ireland"] { fill:  #555;}
  .type { color: #00BFFF;}
}

.night_mode [id="Republic of Ireland"], .nightMode [id="Republic of Ireland"] {
  fill:  #555;
}

.night_mode .type, .nightMode .type { color: #00BFFF;}