{{#BoW}}
  <style>
    [id='Cities'] {
      visibility: hidden;
    }
  </style>
  <header>
    <div class="type">Body of Water</div>
    <div class="value value--top">{{BoW}}</div>

    <hr>

    <div class="type">Location on the map</div>
  </header>
  <div class="center">
    @[img/uk_counties.svg]
  </div>
{{/BoW}}

--

<style>
  [id="Bodies of Water"] > :not([id="{{BoW}}"]), [id='Cities'] * {
    visibility: hidden;
  }
</style>
<header>
  <div class="type">Body of Water</div>
  <div class="value value--top">{{BoW}}</div>

  <hr>

  <div class="type">Location on the map</div>

</header>
<div class="center">
  @[img/uk_counties.svg]
</div>