{{#City}}
  <style>
    .info {
      max-width: 30em;
      margin: 0.75em auto;
      color: #333;
      font-size: 90%;
      font-style: italic;
    }

  </style>
  <header>
    <div class="type">City</div>
    <div class="value value--top">{{City}}</div>
    {{#Info}}<div class="info">Hint: {{Info}}</div>{{/Info}}

    <hr>

    <div class="type">County?</div>
    <div class="center">{{type:MacroLocation}}</div>

  </header>
  <div class="center">
    @[build/maps/counties.min.svg]
  </div>
{{/City}}

--

<style>
  [id='Cities'] > :not([id='{{MacroLocation}}']),
  [id='Cities'] [id='{{MacroLocation}}'] > :not([id='{{City}}']),
  [id='Bodies of Water'] {
    visibility: hidden;
  }
  .info {
    max-width: 30em;
    margin: 0.75em auto;
    color: #333;
    font-size: 90%;
    font-style: italic;
  }
</style>

<header>
  <div class="type">City</div>
  <div class="value value--top">{{City}}</div>
  {{#Info}}<div class="info">{{Info}}</div>{{/Info}}

  <hr>

  <div class="type">County?</div>
  <div class="center">{{type:MacroLocation}}</div>

</header>
<div class="center">
  @[build/maps/cities.min.svg]
</div>
@[utils/uk_geog/snippets/highlight_multiple_counties.html]
