{{#City}}
  <style>
    [id='Cities'], [id='Bodies of Water']{
      visibility: hidden;
    }
  </style>
    <header>
      <div class="type">City</div>
      <div class="value value--top">{{City}}</div>

      <hr>

      <div class="type">County?</div>
      <div class="center">{{type:MacroLocation}}</div>

    </header>
    <div class="center">
      @[img/uk_counties.svg]
    </div>
{{/City}}

--

<style>
  [id='Cities'] > :not([id='{{City}}']), [id='Bodies of Water'] {
    visibility: hidden;
  }
  [id='Regions'] > * > [id='{{City}}']{
    animation: jump 0.75s;
    animation-iteration-count: infinite;
    transform-box: fill-box;
    transform-origin: center;
  }
</style>

<header>
  <div class="type">City</div>
  <div class="value value--top">{{City}}</div>

  <hr>

  <div class="type">County?</div>
  <div class="center">{{type:MacroLocation}}</div>

</header>
<div class="center">
  @[img/uk_counties.svg]
</div>
@[utils/uk_geog/snippets/highlight_multiple_counties.html]
