<script src="maps.js"></script>
<style>
  [id="cities"] > :not([id="{{City}}"]) {
    visibility: hidden;
  }
  [id="ring_cities"] > :not(circle[data-city="{{City}}"]) {
    visibility: hidden;
  }
  [id="{{City}}"] {
    fill: #d00;
  }
</style>

<div id="fitcontent">
  <header>
    <div class="type">City</div>
    <div class="value value--top">{{City}}</div>

    <hr />

    <div class="type">County?</div>
    <div class="center">{{MacroLocation}}</div>
  </header>
  <div class="center">
    <div class="map-slot" id="cities-map"></div>
  </div>
</div>
<script>
  (function () {
    function whenReady(fn) {
      if (typeof injectMap === "function") {
        fn();
      } else {
        setTimeout(function () {
          whenReady(fn);
        }, 10);
      }
    }
    whenReady(function () {
      injectMap("cities-map", "cities");

      var selectedCountiesNames = "{{MacroLocation}}".split(" / ");

      for (var i = 0; i < selectedCountiesNames.length; i++) {
        var county = document.getElementById(selectedCountiesNames[i]);
        county.style.fill = "#d00";
        county.style["fill-opacity"] = 0.5;
      }
    });
  })();
</script>
