<script src="_maps.js"></script>
<script src="_zoombox.js"></script>
<style>
  [id="region-{{MacroLocation}}"] {
    fill: #d00;
    fill-opacity: 0.5;
  }

  #svg-counties {
    display: none;
  }
</style>

<div id="svg-counties"></div>

<div id="fitcontent">
  <header>
    <div class="type">County</div>
    <div class="value value--top">{{County}}</div>

    <hr />

    <div class="type">Region?</div>
    <div class="center">{{MacroLocation}}</div>
  </header>
  <div class="center">
    <div class="map-slot" id="regions-map"></div>
    <svg id="zoombox" viewBox="0 0 800 1159"></svg>
  </div>
</div>
<script>
  (function () {
    function whenReady(fn) {
      if (
        typeof injectMap === "function" &&
        typeof setupZoombox === "function"
      ) {
        fn();
      } else {
        setTimeout(function () {
          whenReady(fn);
        }, 10);
      }
    }
    whenReady(function () {
      injectMap("svg-counties", "counties");
      injectMap("regions-map", "regions");

      (function () {
        var countyEl = document.getElementById("county-{{County}}");
        var regionsSvg = document.getElementById("regions_map");

        if (countyEl && regionsSvg) {
          // Clone and append the county, highlighting it red so that we can see it.
          var clonedCounty = countyEl.cloneNode(true);
          // change the ID to avoid any conflicts between counties and regions
          clonedCounty.id = "selected-county";
          clonedCounty.style.fill = "#d00";
          regionsSvg.appendChild(clonedCounty);
        }
      })();

      setupZoombox({
        mapId: "regions_map",
        targetId: "selected-county",
        current: "{{County}}",
        zoomNames: ["City of London"],
      });
    });
  })();
</script>
