{{#County}}
  <header>
    <div class="type">County</div>
    <div class="value value--top">{{County}}</div>

    <hr>
    <div class="type">Region?</div>
    <div class="center">{{type:MacroLocation}}</div>

  </header>
  <div class="center">
    @[img/uk_regions.svg]
  </div>
{{/County}}

--

<style>
  [id='Cities'], [id='Bodies of Water'] {
    visibility: hidden;
  }
  [id='{{MacroLocation}}']{
    fill: #2ECC40;
  }
  [id='{{County}}']{
    stroke: black;
    stroke-width: .3;
  }
  @media (prefers-color-scheme: dark) {
    [id='{{County}}'] { stroke: #FFDC00;}
  }
  .night_mode [id='{{County}}'], .nightMode [id='{{County}}'] {
      stroke: #FFDC00;
  }
</style>

<header>
  <div class="type">County</div>
  <div class="value value--top">{{County}}</div>

  <hr>
  
  <div class="type">Region?</div>
  <div class="center">{{type:MacroLocation}}</div>

</header>
<div class="center">
  <div id="fitcontent">
    @[img/uk_counties.svg]
    @[utils/uk_geog/snippets/zoombox_optional.html]
  </div>
</div>