<style>
  [id="region-{{MacroLocation}}"] {
    fill: #d00;
    fill-opacity: 0.5;
  }

  #svg-counties {
    display: none;
  }
</style>

<div id="svg-counties"><img src="build/maps/counties.min.svg"></div>

<div id="fitcontent">
  <header>
    <div class="type">County</div>
    <div class="value value--top">{{County}}</div>

    <hr />

    <div class="type">Region?</div>
    <div class="center">{{MacroLocation}}</div>
  </header>
  <div class="center">
    <img src="build/maps/regions.min.svg">
    <svg id="zoombox" viewBox="0 0 800 1159"></svg>
  </div>
</div>
<script src="utils/uk_geog/snippets/zoombox.js"></script>
<script>
  (function () {
    var countyEl = document.getElementById("county-{{County}}");
    var regionsSvg = document.getElementById("regions_map");

    if (countyEl && regionsSvg) {
      // Clone and append the county, highlighting it red so that we can see it.
      var clonedCounty = countyEl.cloneNode(true);
      // change the ID to avoid any conflicts between counties and regions
      clonedCounty.id = "selected-county";
      clonedCounty.style.fill = "#d00";
      regionsSvg.appendChild(clonedCounty);
    }
  })();

  setupZoombox({
    mapId: "regions_map",
    targetId: "selected-county",
  });
</script>
