{{#County}}
  <header>
    <div class="type">County</div>
    <div class="value value--top">{{County}}</div>

    <hr>

    <div class="type">Location on the map</div>
  </header>
  <div class="center">
    <div id="fitcontent">
      @[build/maps/counties.min.svg]
      @[utils/uk_geog/snippets/zoombox.html]
    </div>
  </div>
{{/County}}

--

<style>
    [id='{{County}}']{
        fill: #2ECC40;
    }
</style>
<header>
  <div class="type">County</div>
  <div class="value value--top">{{County}}</div>

  <hr>

  <div class="type">Location on the map</div>
</header>
<div class="center">
  <div id="fitcontent">
    @[build/maps/counties.min.svg]
    @[utils/uk_geog/snippets/zoombox.html]
  </div>
</div>
