<style>
  .city:not([id="city-{{City}}"]) {
    visibility: hidden;
  }
  [id="city-{{City}}"] .city-marker {
    fill: #d00;
  }
</style>

<div id="fitcontent">
  <header>
    <div class="type">City?</div>
    <div id="city-answer" class="center">{{City}}</div>

    <hr />

    <div class="type">Location on the map</div>
  </header>
  <div class="center">
    <img src="build/maps/cities.min.svg">
  </div>

  <!-- A bit of a hack because you can't tell the difference between these two pairs by just looking a the map. -->
  <!-- The unfortunate side-effect is that you'll get asked to identify them twice as often. -->
  <!-- will sort this out at some point when the zoombox is a little better -->
</div>
<script>
  var cityAnswer = document.getElementById("city-answer");
  if (cityAnswer) {
    if (cityAnswer.textContent == "City of London") {
      cityAnswer.textContent = "City of London + City of Westminster";
    }
    if (cityAnswer.textContent == "City of Westminster") {
      cityAnswer.textContent = "City of London + City of Westminster";
    }
    if (cityAnswer.textContent == "Manchester") {
      cityAnswer.textContent = "Manchester + Salford";
    }
    if (cityAnswer.textContent == "Salford") {
      cityAnswer.textContent = "Manchester + Salford";
    }
  }
</script>
