{{#BoW}}
<style>
  [id="bow"] {
    stroke: none;
  }
  [id="bow-{{BoW}}"] {
    fill: #07b;
  }
</style>

<div id="fitcontent">
  <header>
    <div class="type">Body of Water?</div>

    <hr />

    <div class="type">Location on the map</div>
  </header>
  <div class="center">
    <img src="build/maps/bodies_of_water.min.svg">
    <svg id="zoombox" viewBox="0 0 800 1159"></svg>
    <script src="utils/uk_geog/snippets/zoombox.js"></script>
    <script>
      setupZoombox({
        mapId: "map",
        targetId: "bow-{{BoW}}",
        current: "{{BoW}}",
        zoomNames: ["Poole Bay"],
      });
    </script>
  </div>
</div>
<script src="utils/uk_geog/snippets/move_to_front.js"></script>
<script>
  moveToFront("bow-{{BoW}}");
</script>
{{/BoW}}
