{{#BoW}}
<script src="maps.js"></script>
<script src="move_to_front.js"></script>
<style>
  [id="water"] {
    stroke: none;
  }
  [id="{{BoW}}"] {
    fill: #07b;
  }
</style>

<div id="fitcontent">
  <header>
    <div class="type">Body of Water?</div>

    <hr />

    <div class="type">Location on the map</div>
  </header>
  <div class="center">
    <div class="map-slot" id="bow-map"></div>
  </div>
</div>
<script>
  (function () {
    function whenReady(fn) {
      if (
        typeof injectMap === "function" &&
        typeof moveToFront === "function"
      ) {
        fn();
      } else {
        setTimeout(function () {
          whenReady(fn);
        }, 10);
      }
    }
    whenReady(function () {
      injectMap("bow-map", "bodies_of_water");

      moveToFront("{{BoW}}");
    });
  })();
</script>
{{/BoW}}
