<style>
  [id="bow"] {
    stroke: none;
  }
  [id="bow-{{BoW}}"] {
    fill: #07b;
  }
</style>

<div id="fitcontent">
  <header>
    <div class="type">Body of Water?</div>
    <div class="center">{{BoW}}</div>

    <hr />

    <div class="type">Location on the map</div>
  </header>
  <div class="center">
    @[build/maps/bodies_of_water.min.svg]
    <svg id="zoombox" viewBox="0 0 800 1159"></svg>
  </div>
</div>
<script>
  @[utils/uk_geog/snippets/move_to_front.js]
  @[utils/uk_geog/snippets/zoombox.js]
  moveToFront("bow-{{BoW}}");
  setupZoombox({
    mapId: "map",
    targetId: "bow-{{BoW}}",
    zsize: 110,
  });
</script>
