<style>
  [id="motorways"] path {
    fill: none;
    stroke: #0072bc;
    stroke-width: 2.5;
  }
  [id="motorways"] > :not([id="motorways-{{Motorway}}"]) {
    visibility: hidden;
  }
  [id="motorways"] > [id="motorways-{{Motorway}}"] {
    stroke: #d00;
    stroke-width: 3;
  }
</style>

<div id="fitcontent">
  <header>
    <div class="type">Motorway?</div>
    <div class="center">{{Motorway}}</div>

    <hr />

    <div class="type">Location on the map</div>
  </header>
  <div class="center">
    @[build/maps/motorways.min.svg]
    <svg id="zoombox" viewBox="0 0 800 1159"></svg>
    <script>
      @[utils/uk_geog/snippets/zoombox.js]
      setupZoombox({
        mapId: "map",
        targetId: "motorways-{{Motorway}}",
        current: "{{Motorway}}",
        zoomNames: ["{{Motorway}}"],
        autoSize: true,
      });
    </script>
  </div>
</div>
