<script src="_maps.js"></script>
<script src="_zoombox.js"></script>
<style>
  [id="{{County}}"] {
    fill: #d00;
  }
</style>

<div id="fitcontent">
  <header>
    <div class="type">County?</div>
    <div class="center">{{County}}</div>

    <hr />

    <div class="type">Location on the map</div>
  </header>
  <div class="center">
    <div class="map-slot" id="counties-map"></div>
    <svg id="zoombox" viewBox="0 0 800 1159"></svg>
  </div>
</div>
<script>
  (function () {
    function whenReady(fn) {
      if (
        typeof injectMap === "function" &&
        typeof setupZoombox === "function"
      ) {
        fn();
      } else {
        setTimeout(function () {
          whenReady(fn);
        }, 10);
      }
    }
    whenReady(function () {
      injectMap("counties-map", "counties");

      setupZoombox({
        mapId: "map",
        targetId: "{{County}}",
        current: "{{County}}",
        zoomNames: ["City of London"],
      });
    });
  })();
</script>
