{{#City}}
<style>
  [id="cities"] > :not([id="{{City}}"]) {
    visibility: hidden;
  }
  [id="ring_cities"] > :not(circle[data-city="{{City}}"]) {
    visibility: hidden;
  }
  [id="cities"] > [id="{{City}}"] {
    fill: #d00;
  }
</style>

<div id="fitcontent">
  <header>
    <div class="type">City?</div>

    <hr />

    <div class="type">Location on the map</div>
  </header>
  <div class="center">
    <div class="map-slot" id="cities-map"></div>
    <script src="maps.js"></script>
    <script>injectMap("cities-map", "cities");</script>
  </div>
</div>
{{/City}}
