<style>
  [id="{{County}}"] {
    fill: #d00;
  }
</style>

<div id="fitcontent">
  <header>
    <div class="type">County?</div>
    <div class="center">{{County}}</div>

    <hr />

    <div class="type">Location on the map</div>
  </header>
  <div class="center">
    <div class="map-slot" id="counties-map"></div>
    <script src="maps.js"></script>
    <script>injectMap("counties-map", "counties");</script>
    <script src="zoombox.js"></script>
    <svg id="zoombox" viewBox="0 0 800 1159"></svg>
    <script>
      setupZoombox({
        mapId: "map",
        targetId: "{{County}}",
        current: "{{County}}",
        zoomNames: ["City of London"],
      });
    </script>
  </div>
</div>
