{{#Region}}
<script src="_maps.js"></script>
<div id="fitcontent">
  <header>
    <div class="type">Region</div>
    <div class="value value--top">{{Region}}</div>

    <hr />

    <div class="type">Location on the map</div>
  </header>
  <div class="center">
    <div class="map-slot" id="regions-map"></div>
  </div>
</div>
<script>
  (function () {
    function whenReady(fn) {
      if (typeof injectMap === "function") {
        fn();
      } else {
        setTimeout(function () {
          whenReady(fn);
        }, 10);
      }
    }
    whenReady(function () {
      injectMap("regions-map", "regions");
    });
  })();
</script>
{{/Region}}
