{{#Region}}
  <header>
    <div class="type">Region</div>
    <div class="value value--top">{{Region}}</div>

    <hr>

    <div class="type">Location on the map</div>
  </header>
  <div class="center">
    @[build/maps/regions.min.svg]
  </div>
{{/Region}}

--

<style>
  [id="{{Region}}"]{
    fill: #2ECC40;
  }
</style>
<header>
  <div class="type">Region</div>
  <div class="value value--top">{{Region}}</div>

  <hr>

  <div class="type">Location on the map</div>

</header>
<div class="center">
  @[build/maps/regions.min.svg]
</div>
